In [6]:
#Testing scraper for Twitchtracker
import urllib.request as urllib
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

#bypass 403 forbidden against web crawlers
req = Request('https://twitchtracker.com/statistics', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()

soup = BeautifulSoup(webpage)

table = soup.find(id="big-one");
rows = table.find_all("tr");

for row in rows:
    print(row)
    print("-----")

<tr>
<th>Month</th>
<th>Avg. concur. viewers</th>
<th>Avg. concur. channels</th>
<th>Time watched</th>
<th>Active streamers</th>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2012-09-01">
2012-09-01
</td>
<td class="to-number">77798</td>
<td class="to-number">1986</td>
<td data-order="55742267">
<span class="to-number-lg">55742267</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2012-10-01">
2012-10-01
</td>
<td class="to-number">98835</td>
<td class="to-number">2047</td>
<td data-order="73302625">
<span class="to-number-lg">73302625</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2012-11-01">
2012-11-01
</td>
<td class="to-number">109932</td>
<td class="to-number">2205</td>
<td data-order="78473126">
<span class="to-number-lg">78473126</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2012-12-01">
2012-12-01
</td>
<td class="to-number">120537</td>
<td class="to-number">2457</td>
<td data-order="89458544">
<span class="to-number-lg">89458544</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-01-01">
2013-01-01
</td>
<td class="to-number">147954</td>
<td class="to-number">3016</td>
<td data-order="109905163">
<span class="to-number-lg">109905163</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-02-01">
2013-02-01
</td>
<td class="to-number">165244</td>
<td class="to-number">3512</td>
<td data-order="110878724">
<span class="to-number-lg">110878724</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-03-01">
2013-03-01
</td>
<td class="to-number">187862</td>
<td class="to-number">4224</td>
<td data-order="139362294">
<span class="to-number-lg">139362294</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-04-01">
2013-04-01
</td>
<td class="to-number">191506</td>
<td class="to-number">4431</td>
<td data-order="137724732">
<span class="to-number-lg">137724732</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-05-01">
2013-05-01
</td>
<td class="to-number">195710</td>
<td class="to-number">4549</td>
<td data-order="135790122">
<span class="to-number-lg">135790122</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-06-01">
2013-06-01
</td>
<td class="to-number">220370</td>
<td class="to-number">4615</td>
<td data-order="104381923">
<span class="to-number-lg">104381923</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-07-01">
2013-07-01
</td>
<td class="to-number">214212</td>
<td class="to-number">5111</td>
<td data-order="158981006">
<span class="to-number-lg">158981006</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-08-01">
2013-08-01
</td>
<td class="to-number">225527</td>
<td class="to-number">5517</td>
<td data-order="167341034">
<span class="to-number-lg">167341034</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-09-01">
2013-09-01
</td>
<td class="to-number">215156</td>
<td class="to-number">5224</td>
<td data-order="154912320">
<span class="to-number-lg">154912320</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-10-01">
2013-10-01
</td>
<td class="to-number">213944</td>
<td class="to-number">5500</td>
<td data-order="158782105">
<span class="to-number-lg">158782105</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-11-01">
2013-11-01
</td>
<td class="to-number">260789</td>
<td class="to-number">6030</td>
<td data-order="187246502">
<span class="to-number-lg">187246502</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2013-12-01">
2013-12-01
</td>
<td class="to-number">252300</td>
<td class="to-number">6570</td>
<td data-order="187290700">
<span class="to-number-lg">187290700</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-01-01">
2014-01-01
</td>
<td class="to-number">290262</td>
<td class="to-number">6898</td>
<td data-order="214310110">
<span class="to-number-lg">214310110</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-02-01">
2014-02-01
</td>
<td class="to-number">302912</td>
<td class="to-number">7156</td>
<td data-order="200881141">
<span class="to-number-lg">200881141</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-03-01">
2014-03-01
</td>
<td class="to-number">311146</td>
<td class="to-number">8111</td>
<td data-order="181449976">
<span class="to-number-lg">181449976</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-04-01">
2014-04-01
</td>
<td class="to-number">310585</td>
<td class="to-number">7772</td>
<td data-order="221757690">
<span class="to-number-lg">221757690</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-05-01">
2014-05-01
</td>
<td class="to-number">330124</td>
<td class="to-number">8200</td>
<td data-order="243631512">
<span class="to-number-lg">243631512</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-06-01">
2014-06-01
</td>
<td class="to-number">352506</td>
<td class="to-number">8313</td>
<td data-order="251748035">
<span class="to-number-lg">251748035</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-07-01">
2014-07-01
</td>
<td class="to-number">363765</td>
<td class="to-number">9174</td>
<td data-order="269004218">
<span class="to-number-lg">269004218</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-08-01">
2014-08-01
</td>
<td class="to-number">392652</td>
<td class="to-number">10008</td>
<td data-order="289973502">
<span class="to-number-lg">289973502</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-09-01">
2014-09-01
</td>
<td class="to-number">383753</td>
<td class="to-number">9748</td>
<td data-order="274767148">
<span class="to-number-lg">274767148</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-10-01">
2014-10-01
</td>
<td class="to-number">380295</td>
<td class="to-number">9968</td>
<td data-order="240599970">
<span class="to-number-lg">240599970</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-11-01">
2014-11-01
</td>
<td class="to-number">392835</td>
<td class="to-number">11203</td>
<td data-order="279960410">
<span class="to-number-lg">279960410</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2014-12-01">
2014-12-01
</td>
<td class="to-number">395772</td>
<td class="to-number">11503</td>
<td data-order="293333014">
<span class="to-number-lg">293333014</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-01-01">
2015-01-01
</td>
<td class="to-number">493468</td>
<td class="to-number">14142</td>
<td data-order="360642863">
<span class="to-number-lg">360642863</span> hrs
</td>
<td class="to-number">1533653</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-02-01">
2015-02-01
</td>
<td class="to-number">512584</td>
<td class="to-number">15336</td>
<td data-order="338903455">
<span class="to-number-lg">338903455</span> hrs
</td>
<td class="to-number">1644386</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-03-01">
2015-03-01
</td>
<td class="to-number">522739</td>
<td class="to-number">14669</td>
<td data-order="380728238">
<span class="to-number-lg">380728238</span> hrs
</td>
<td class="to-number">1567997</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-04-01">
2015-04-01
</td>
<td class="to-number">504390</td>
<td class="to-number">14547</td>
<td data-order="350298855">
<span class="to-number-lg">350298855</span> hrs
</td>
<td class="to-number">1538170</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-05-01">
2015-05-01
</td>
<td class="to-number">516814</td>
<td class="to-number">15076</td>
<td data-order="377877170">
<span class="to-number-lg">377877170</span> hrs
</td>
<td class="to-number">1599500</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-06-01">
2015-06-01
</td>
<td class="to-number">518666</td>
<td class="to-number">15293</td>
<td data-order="368685082">
<span class="to-number-lg">368685082</span> hrs
</td>
<td class="to-number">1591172</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-07-01">
2015-07-01
</td>
<td class="to-number">550079</td>
<td class="to-number">16399</td>
<td data-order="404583105">
<span class="to-number-lg">404583105</span> hrs
</td>
<td class="to-number">1677091</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-08-01">
2015-08-01
</td>
<td class="to-number">598394</td>
<td class="to-number">17516</td>
<td data-order="439420661">
<span class="to-number-lg">439420661</span> hrs
</td>
<td class="to-number">1816317</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-09-01">
2015-09-01
</td>
<td class="to-number">506181</td>
<td class="to-number">16723</td>
<td data-order="361919415">
<span class="to-number-lg">361919415</span> hrs
</td>
<td class="to-number">1793262</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-10-01">
2015-10-01
</td>
<td class="to-number">589628</td>
<td class="to-number">15606</td>
<td data-order="436619534">
<span class="to-number-lg">436619534</span> hrs
</td>
<td class="to-number">1678050</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-11-01">
2015-11-01
</td>
<td class="to-number">581150</td>
<td class="to-number">17584</td>
<td data-order="406611283">
<span class="to-number-lg">406611283</span> hrs
</td>
<td class="to-number">2113999</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2015-12-01">
2015-12-01
</td>
<td class="to-number">543112</td>
<td class="to-number">17359</td>
<td data-order="393303607">
<span class="to-number-lg">393303607</span> hrs
</td>
<td class="to-number">1872032</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-01-01">
2016-01-01
</td>
<td class="to-number">618700</td>
<td class="to-number">18954</td>
<td data-order="390709050">
<span class="to-number-lg">390709050</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-02-01">
2016-02-01
</td>
<td class="to-number">593219</td>
<td class="to-number">19051</td>
<td data-order="331609421">
<span class="to-number-lg">331609421</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-03-01">
2016-03-01
</td>
<td class="to-number">615139</td>
<td class="to-number">18643</td>
<td data-order="359753792">
<span class="to-number-lg">359753792</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-04-01">
2016-04-01
</td>
<td class="to-number">522493</td>
<td class="to-number">16661</td>
<td data-order="351463625">
<span class="to-number-lg">351463625</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-05-01">
2016-05-01
</td>
<td class="to-number">593981</td>
<td class="to-number">18992</td>
<td data-order="418261621">
<span class="to-number-lg">418261621</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-06-01">
2016-06-01
</td>
<td class="to-number">619838</td>
<td class="to-number">18789</td>
<td data-order="445043684">
<span class="to-number-lg">445043684</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-07-01">
2016-07-01
</td>
<td class="to-number">599655</td>
<td class="to-number">18003</td>
<td data-order="445943435">
<span class="to-number-lg">445943435</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-08-01">
2016-08-01
</td>
<td class="to-number">513664</td>
<td class="to-number">16574</td>
<td data-order="382166016">
<span class="to-number-lg">382166016</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-09-01">
2016-09-01
</td>
<td class="to-number">534140</td>
<td class="to-number">17870</td>
<td data-order="361612780">
<span class="to-number-lg">361612780</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-10-01">
2016-10-01
</td>
<td class="to-number">608446</td>
<td class="to-number">19207</td>
<td data-order="450351448">
<span class="to-number-lg">450351448</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-11-01">
2016-11-01
</td>
<td class="to-number">623095</td>
<td class="to-number">20675</td>
<td data-order="443851338">
<span class="to-number-lg">443851338</span> hrs
</td>
<td class="to-number">n/a</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2016-12-01">
2016-12-01
</td>
<td class="to-number">659345</td>
<td class="to-number">22284</td>
<td data-order="489233990">
<span class="to-number-lg">489233990</span> hrs
</td>
<td class="to-number">1850334</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-01-01">
2017-01-01
</td>
<td class="to-number">811003</td>
<td class="to-number">24137</td>
<td data-order="601088390">
<span class="to-number-lg">601088390</span> hrs
</td>
<td class="to-number">1942933</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-02-01">
2017-02-01
</td>
<td class="to-number">744805</td>
<td class="to-number">24188</td>
<td data-order="500260692">
<span class="to-number-lg">500260692</span> hrs
</td>
<td class="to-number">1894405</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-03-01">
2017-03-01
</td>
<td class="to-number">701500</td>
<td class="to-number">23230</td>
<td data-order="393892250">
<span class="to-number-lg">393892250</span> hrs
</td>
<td class="to-number">1953138</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-04-01">
2017-04-01
</td>
<td class="to-number">743596</td>
<td class="to-number">22052</td>
<td data-order="534149793">
<span class="to-number-lg">534149793</span> hrs
</td>
<td class="to-number">1804061</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-05-01">
2017-05-01
</td>
<td class="to-number">683590</td>
<td class="to-number">22371</td>
<td data-order="498109247">
<span class="to-number-lg">498109247</span> hrs
</td>
<td class="to-number">1804282</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-06-01">
2017-06-01
</td>
<td class="to-number">709304</td>
<td class="to-number">23379</td>
<td data-order="509162055">
<span class="to-number-lg">509162055</span> hrs
</td>
<td class="to-number">1921765</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-07-01">
2017-07-01
</td>
<td class="to-number">760689</td>
<td class="to-number">25745</td>
<td data-order="565952616">
<span class="to-number-lg">565952616</span> hrs
</td>
<td class="to-number">2386623</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-08-01">
2017-08-01
</td>
<td class="to-number">717126</td>
<td class="to-number">24683</td>
<td data-order="533541744">
<span class="to-number-lg">533541744</span> hrs
</td>
<td class="to-number">2142869</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-09-01">
2017-09-01
</td>
<td class="to-number">732925</td>
<td class="to-number">25014</td>
<td data-order="527706000">
<span class="to-number-lg">527706000</span> hrs
</td>
<td class="to-number">1950271</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-10-01">
2017-10-01
</td>
<td class="to-number">786585</td>
<td class="to-number">25692</td>
<td data-order="584825948">
<span class="to-number-lg">584825948</span> hrs
</td>
<td class="to-number">2048513</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-11-01">
2017-11-01
</td>
<td class="to-number">800069</td>
<td class="to-number">26759</td>
<td data-order="574849577">
<span class="to-number-lg">574849577</span> hrs
 </td>
<td class="to-number">2115552</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2017-12-01">
2017-12-01
</td>
<td class="to-number">780131</td>
<td class="to-number">28610</td>
<td data-order="580287442">
<span class="to-number-lg">580287442</span> hrs
</td>
<td class="to-number">2460341</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-01-01">
2018-01-01
</td>
<td class="to-number">967829</td>
<td class="to-number">33546</td>
<td data-order="719903471">
<span class="to-number-lg">719903471</span> hrs
</td>
<td class="to-number">2969173</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-02-01">
2018-02-01
</td>
<td class="to-number">915659</td>
<td class="to-number">35496</td>
<td data-order="610286724">
<span class="to-number-lg">610286724</span> hrs
</td>
<td class="to-number">2890347</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-03-01">
2018-03-01
</td>
<td class="to-number">971728</td>
<td class="to-number">39026</td>
<td data-order="707417984">
<span class="to-number-lg">707417984</span> hrs
</td>
<td class="to-number">3695563</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-04-01">
2018-04-01
</td>
<td class="to-number">1011491</td>
<td class="to-number">39397</td>
<td data-order="728273520">
<span class="to-number-lg">728273520</span> hrs
</td>
<td class="to-number">3315212</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-05-01">
2018-05-01
</td>
<td class="to-number">1024200</td>
<td class="to-number">38705</td>
<td data-order="761834100">
<span class="to-number-lg">761834100</span> hrs
</td>
<td class="to-number">3062437</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-06-01">
2018-06-01
</td>
<td class="to-number">1095466</td>
<td class="to-number">39699</td>
<td data-order="788552942">
<span class="to-number-lg">788552942</span> hrs
</td>
<td class="to-number">3153852</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-07-01">
2018-07-01
</td>
<td class="to-number">1076453</td>
<td class="to-number">41842</td>
<td data-order="774687342">
<span class="to-number-lg">774687342</span> hrs
</td>
<td class="to-number">2957895</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-08-01">
2018-08-01
</td>
<td class="to-number">1150353</td>
<td class="to-number">44340</td>
<td data-order="854137103">
<span class="to-number-lg">854137103</span> hrs
</td>
<td class="to-number">3712170</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-09-01">
2018-09-01
</td>
<td class="to-number">1132031</td>
<td class="to-number">44195</td>
<td data-order="815062320">
<span class="to-number-lg">815062320</span> hrs
</td>
<td class="to-number">3670836</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-10-01">
2018-10-01
</td>
<td class="to-number">1145919</td>
<td class="to-number">43507</td>
<td data-order="850844858">
<span class="to-number-lg">850844858</span> hrs
</td>
<td class="to-number">3646616</td>
</tr>
-----
<tr>
<td class="to-monthyear" data-order="2018-11-01">
2018-11-01
</td>
<td class="to-number">1202989</td>
<td class="to-number">45448</td>
<td data-order="866152080">