In [6]:
#Testing scraper for Twitchtracker
import urllib.request as urllib
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup

import pandas as pd

#bypass 403 forbidden against web crawlers

#TODO:
#Write a loop that will iterate through all our data columns and pull the subscribers for those rows 
#
# test test test 
req = Request('https://twitchtracker.com/summit1g/subscribers', headers={'User-Agent': 'Mozilla/5.0'})
html = urlopen(req).read()

soup = BeautifulSoup(html)

table = soup.find(id="subscribers");
rows = table.find_all("tr");

df = pd.DataFrame(columns = ["Month"])

for row in rows:
    data = row.find_all("td");
    #Knowing the structure of the table, process all valid rows in standard order
    #Append each processed data item to our dataframe
    if len(data) != 0:
        month = data[0].get_text().strip()
        total = data[1].get_text().strip()
        prime = data[2].get_text().strip()
        Tier1 = data[3].get_text().strip()
        Tier2 = data[4].get_text().strip()
        Tier3 = data[5].get_text().strip()
        Unshared = data[6].get_text().strip()
        Gifted = data[7].get_text().strip()
        # Income calculate the total dollar amounts based on the subscriber payments of the Tiers 
        Income = (int(Tier1)*4.99) + (int(Tier2)*9.99) + (int(Tier3)*24.99)
#       If you want to see individual outputs
#         print("Date: " + month)
#         print("Viewers: " + viewers)
#         print("Channels: " + channels)
#         print("Time Watched: " + watched)
#         print("Streamers: " + streamers)
        data_dict = {"Month" : month, "Total": total, 
                     "Prime": prime, "Tier 1": Tier1, "Tier 2": Tier2, "Tier 3": Tier3, 
                     "Unshared": Unshared, "Gifted": Gifted, "Total Income": '${:,.2f}'.format(Income)}
        df = df.append(data_dict, ignore_index=True)
        
        
        
#Write our data and display the data
df.to_csv("channelsubdata.csv")
df

         Month Gifted  Prime Tier 1 Tier 2 Tier 3  Total Total Income Unshared
0   2016-09-01      0     26    707      0      0    895    $3,527.93      162
1   2016-10-01      0   5107   1247      0      0   7847    $6,222.53     1493
2   2016-11-01      0   3492   1290      0      0   5905    $6,437.10     1123
3   2016-12-01      0   5234   1446      0      0   8254    $7,215.54     1574
4   2017-01-01      0   5387   2117      0      0   9269   $10,563.83     1765
5   2017-02-01      0   4762   1515      0      0   7753    $7,559.85     1476
6   2017-03-01      0   6819   2000      0      0  10900    $9,980.00     2081
7   2017-04-01      0   6534   1841      0      0  10350    $9,186.59     1975
8   2017-05-01      0   6804   3435     29     67  12773   $19,104.69     2438
9   2017-06-01      0   9149   5686     60    107  18550   $31,646.47     3548
10  2017-07-01      0  11750   6266    108    114  22553   $35,195.12     4315
11  2017-08-01      0   9254   5519     98    101  18513   $31,042.82     3541
12  2017-09-01      0  10003   7582    203    258  22316   $46,309.57     4270
13  2017-10-01      0   9885   6788    171    171  21042   $39,853.70     4027
14  2017-11-01    353   7933   5792    139    151  17247   $34,064.18     3232
15  2017-12-01    635   9795   6777    154    142  20711   $38,904.27     3843
16  2018-01-01    516  13049   7568    192    207  25872   $44,855.33     4856
17  2018-02-01    264   8354   5295    127    107  17104   $30,364.71     3221
18  2018-03-01    181  17557   5800    149    124  29406   $33,529.27     5601
19  2018-04-01     97   7351   5959    114    108  16705   $33,573.19     3173
20  2018-05-01      0   8168   6045    111     95  17831   $33,647.49     3412
21  2018-06-01      0   7103   4228    104     81  14239   $24,160.87     2723
22  2018-07-01      0   8113   4690    116     98  16096   $27,010.96     3079
23  2018-08-01    841   4176   4109     82     65  10219   $22,947.44     1787
24  2018-09-01   3441   7397   8378    110     87  18562   $45,079.25     2590
25  2018-10-01   2272   7434   6668    107     86  17080   $36,491.39     2785
26  2018-11-01   1959   6931   5943    113     87  15695   $32,958.57     2621
27  2018-12-01   5348  12428  11286    163    119  28373   $60,919.32     4377
28  2019-01-01   5857  21923  13151    214    177  42417   $72,184.58     6952
29  2019-02-01   1355  21078  11078    263    234  34113   $63,754.25     1460
30  2019-03-01   3157  21538  11409    187    173  34707   $63,122.31     1400
31  2019-04-01   2600  18436   9749    162    166  29686   $54,414.23     1173
32  2019-05-01    992  12972   7681    178    126  21868   $43,255.15      911
33  2019-06-01   1159   7829   5388    111     84  16618   $30,094.17     3206
34  2019-07-01   2173   8519   7988    124     87  18239   $43,273.01     1521
35  2019-08-01   2686   9921   7984    112     77  20603   $42,883.27     2509
36  2019-09-01   1225   8102   6594    100     75  17748   $35,777.31     2877
37  2019-10-01   1496   9481   7227    119     74  19497   $39,100.80     2596
38  2019-11-01   1625   7839   5901     97     65  15976   $32,039.37     2074
39  2019-12-01   2415   9611   7651    106     84  19991   $41,336.59     2539
40  2020-01-01   3369  14558   9685    154     88  28062   $52,065.73     3577
41  2020-02-01   4830  15329  11170    138     91  30439   $59,391.01     3711
42  2020-03-01   5649  16173  12558    133     96  32907   $66,392.13     3947
43  2020-04-01  13427  53941  27831    297    170  93919  $146,092.02    11680
44  2020-05-01   8057  16486  16334    197    157  37427   $87,398.12     4253
45  2020-06-01   1187   2562   3444     46     38   6920   $18,594.72      830